<!DOCTYPE html>
<html>
  <head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Pluckeye Testers</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/chosen.min.css">
    <link rel="stylesheet" href="/css.css">
    <script src="/jquery-2.1.1.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/chosen.jquery.min.js"></script>
    <script src="/os.js"></script>
    <script src="/js.js"></script>
  </head>
  <body>
  <%= erb :_navbar %>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
